
body{
    font-family: 'PT Sans', sans-serif;
    background-image: url(./analytics-business-chart-187041.jpg);
}

header {
    background-color: cadetblue;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}
main{
    margin: 10px auto;
    width: 80%;
    background-color: rgba(245, 245, 245, 0.685);
    padding: 10px;
    border: 2px solid beige;
}

h2{
    margin-top: 20px;
}

.btn-info{
    padding: 10px;
    margin: 5px;
}

label{
    font-size: 20px;
}

#stock-form{
    margin-top: 10px;
}

#stock-input{
    margin: 5px;
    padding: 5px;
}

#stocks-view{
    padding: 5px;
}

a{
    color:#205ea0;
}

a:hover{
    text-decoration: none;
    color: #212529;
}

.name{
    font-size: 30px;
}

.head{
    font-size: 20px;
    font-weight: bold;
}

#logo{
    margin-bottom: 20px;
}

.endSection{
    border-bottom: 1px solid gray;
    width: 70%;
}