header {
    background-color: cadetblue;
    padding: 10px;
}

body{
    font-family: 'PT Sans', sans-serif;
}

h2{
    margin-top: 20px;
}

.btn-info{
    padding: 10px;
    margin: 5px;
}

#stock-form{
    margin-top: 10px;
}